<h3>Traffic Lights App</h3>

<div class="row">
    <traffic-light orientation="horizontal" startColor="green"></traffic-light>
</div>

<div><br></div>

<div class="column">
    <traffic-light orientation="vertical" startColor="red"></traffic-light>
    <button class="breakdown-button" (click)="breakDownAll()">Breakdown</button>
    <traffic-light orientation="vertical" startColor="red"></traffic-light>
</div>

<div><br></div>

<div class="row">
    <traffic-light orientation="horizontal" startColor="green"></traffic-light>
</div>